.header__top-background{
    background-color: black;
    height: 3rem;
    margin: 0 0;
}

.wrapper{
    margin: 0 auto;
    width: 84%;
}

.header__top{
    color: #fff;
    display: flex;
     align-items: center;
    justify-content: space-between;
    height: 3rem;
}

.header__contact-info a{
    text-decoration: none;
}